<!--
ap-pub.css - cascading style sheet for STEP APs

Author: Josh Lubell, NIST
        lubell@cme.nist.gov

CHANGE LOG

$Log: ap-pub.css,v $
Revision 1.3  1998/08/19 14:55:46  lubell
Eliminated absolute font sizes and made style sheet more compact.

Revision 1.2  1998/08/10 03:08:32  lubell
added formatting for clause 5.1 TOC

Revision 1.1  1998/08/04 16:50:18  lubell
Initial revision

-->
H1 {font-size: 300%; font-family: Times, serif;}
H2 {font-size: 200%; font-family: Times, serif;}
H3 {font-size: 150%; font-family: Times, serif;}
H4 {font-family: Times, serif; font-weight: bold;}
DIV.NOTE, DIV.NOTEGROUP, DIV.EXAMPLE, DIV.EXAMPLEGROUP 
	{margin-left: 0.5in; color: green;}
BODY, FRAMESET
	{font-family: Times, serif; background-color: white;}
TABLE {font-size: smaller;} <!-- This doesn't seem to work right with
Netscape for Unix -->
TH {font-weight: bold;}
TD.AIMELEMENTCOLENTRY, TD.SOURCECOLENTRY {text-align: center;}
P.CONSTRAINTSHEAD, P.EXPCODEHEAD, P.ASSOCGLOBALRULESHEAD , P.ARGDEFSHEAD
	{text-decoration: underline;}
SPAN.RULELABEL, SPAN.TERM {font-weight: bold;}
PRE.EXPCODEBODY {font-family: Courier;}
SPAN.INUOFLINK {font-style: italic;}
